In [52]:
import numpy as np
import pandas as pd
import os
from pathlib import Path

from load_data import (
    load_cut_files,
    high_level_csv,
    split_df,
    check_date,
    extract_data_csv,
    low_level_df,
)

In [41]:
folder_path = Path("/home/tim/Desktop/temp_csv")

i = 0
for file in os.listdir(folder_path):
    if file.endswith(".csv"):
        if i == 0:
            file_path = folder_path / file           
            df = pd.read_csv(file_path, na_filter=False) # load csv and replace NaNs with blanks
            i += 1
        else:
            file_path = folder_path / file
            df = df.append(pd.read_csv(file_path, na_filter=False))
        print(file)

# replace blanks in "failed" column with zeros
df['failed'] = df['failed'].replace(to_replace='',value=0).astype(dtype='int16')

low_level_labels_5.csv
low_level_labels_51.csv
low_level_labels_15.csv
low_level_labels_35.csv
low_level_labels_43.csv
low_level_labels_4.csv
low_level_labels_11.csv
low_level_labels_90.csv
low_level_labels_21.csv
low_level_labels_19.csv
low_level_labels_32.csv
low_level_labels_17.csv
low_level_labels_24.csv
low_level_labels_18.csv
low_level_labels_52.csv
low_level_labels_82.csv
low_level_labels_48.csv
low_level_labels_28.csv
low_level_labels_2.csv
low_level_labels_37.csv
low_level_labels_10.csv
low_level_labels_9.csv
low_level_labels_6.csv
low_level_labels_60.csv
low_level_labels_66.csv
low_level_labels_47.csv
low_level_labels_85.csv
low_level_labels_68.csv
low_level_labels_30.csv
low_level_labels_79.csv
low_level_labels_12.csv
low_level_labels_46.csv
low_level_labels_89.csv
low_level_labels_71.csv
low_level_labels_38.csv
low_level_labels_69.csv
low_level_labels_16.csv
low_level_labels_64.csv
low_level_labels_77.csv
low_level_labels_72.csv
low_level_labels_57.csv
low_level_labels_86.csv
low_level_labels_36.csv
low_level_labels_76.csv
low_level_labels_29.csv
low_level_labels_42.csv
low_level_labels_8.csv
low_level_labels_41.csv
low_level_labels_78.csv
low_level_labels_45.csv
low_level_labels_80.csv
low_level_labels_55.csv
low_level_labels_62.csv
low_level_labels_20.csv
low_level_labels_7.csv
low_level_labels_0.csv
low_level_labels_49.csv
low_level_labels_34.csv
low_level_labels_53.csv
low_level_labels_87.csv
low_level_labels_1.csv
low_level_labels_73.csv
low_level_labels_65.csv
low_level_labels_54.csv
low_level_labels_23.csv
low_level_labels_75.csv
low_level_labels_91.csv
low_level_labels_50.csv
low_level_labels_3.csv
low_level_labels_88.csv
low_level_labels_31.csv
low_level_labels_39.csv
low_level_labels_26.csv
low_level_labels_13.csv
low_level_labels_44.csv
low_level_labels_84.csv
low_level_labels_67.csv
low_level_labels_27.csv
low_level_labels_14.csv
low_level_labels_25.csv
low_level_labels_56.csv
low_level_labels_83.csv
low_level_labels_61.csv
low_level_labels_33.csv
low_level_labels_63.csv
low_level_labels_70.csv
low_level_labels_22.csv
low_level_labels_81.csv
low_level_labels_59.csv
low_level_labels_74.csv
low_level_labels_40.csv
low_level_labels_58.csv

In [42]:
df.shape

(275452, 75)

In [43]:
df.head()

,name_low,unix_date,date,tool,index,len_cut,min_current_main,max_current_main,min_current_sub,max_current_sub,...,svd_current_main_16,svd_current_main_17,svd_current_main_18,svd_current_main_19,svd_current_main_20,svd_current_main_21,svd_current_main_22,svd_current_main_23,svd_current_main_24,failed
0,1568205980_1_0,1568205980,2019-09-11 08:46:20,1,0,783,162.0,646.0,1.0,11.0,...,1030.509781275999,1018.3122903498411,1017.4801787675638,913.4002900572676,887.4320645321152,883.6265890132704,791.5133302591132,740.7618902793852,613.3657314263558,0
1,1549666993_36_3,1549666993,2019-02-08 18:03:13,36,3,239,290.0,370.0,284.0,947.0,...,,,,,,,,,,0
2,1548693397_6_3,1548693397,2019-01-28 11:36:37,6,3,399,248.0,487.0,298.0,476.0,...,,,,,,,,,,0
3,1548891680_36_8,1548891680,2019-01-30 18:41:20,36,8,231,291.0,370.0,279.0,1008.0,...,,,,,,,,,,0
4,1549576106_8_1,1549576106,2019-02-07 16:48:26,8,1,575,991.0,1072.0,1012.0,1053.0,...,168.39646665392465,104.05742287156407,103.50352809194594,96.69590186757391,92.80240314934755,88.96831805520893,88.24723460432361,88.08565939853915,87.40803108729057,0

In [48]:
df2 = df.copy()
df2 = df2.drop(axis='columns',columns=['failed'])

In [49]:
df2.head()

,name_low,unix_date,date,tool,index,len_cut,min_current_main,max_current_main,min_current_sub,max_current_sub,...,svd_current_main_15,svd_current_main_16,svd_current_main_17,svd_current_main_18,svd_current_main_19,svd_current_main_20,svd_current_main_21,svd_current_main_22,svd_current_main_23,svd_current_main_24
0,1568205980_1_0,1568205980,2019-09-11 08:46:20,1,0,783,162.0,646.0,1.0,11.0,...,1124.766961982696,1030.509781275999,1018.3122903498411,1017.4801787675638,913.4002900572676,887.4320645321152,883.6265890132704,791.5133302591132,740.7618902793852,613.3657314263558
1,1549666993_36_3,1549666993,2019-02-08 18:03:13,36,3,239,290.0,370.0,284.0,947.0,...,,,,,,,,,,
2,1548693397_6_3,1548693397,2019-01-28 11:36:37,6,3,399,248.0,487.0,298.0,476.0,...,,,,,,,,,,
3,1548891680_36_8,1548891680,2019-01-30 18:41:20,36,8,231,291.0,370.0,279.0,1008.0,...,,,,,,,,,,
4,1549576106_8_1,1549576106,2019-02-07 16:48:26,8,1,575,991.0,1072.0,1012.0,1053.0,...,169.84568673051703,168.39646665392465,104.05742287156407,103.50352809194594,96.69590186757391,92.80240314934755,88.96831805520893,88.24723460432361,88.08565939853915,87.40803108729057

In [50]:
# Create the high-level df
high_level = Path('_label_csv_data/high_level_labels_MASTER_2019-11-27_15before_nobroken.csv')

df1 = pd.read_csv(high_level)
df1 = df1.dropna(subset=['failed']) # drop rows that do not have a failed indicator

In [27]:
df1.head()

,unix_date,date,cut_dir,part,file_name,tools,len_cut,no_points,signals_names,failed,failed_tools,comment
91,1540315377,2018-10-23 13:22:57,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-6FF,Data_KS-NPC-6FF_91.mat,1 3 5 8 11 13 15 17 21 22 23 32 36 37 54 57,177.0,177000,current_main current_sub cut_signal error_x er...,1.0,57,“only tool change in this period was T5757 at ...
92,1540315794,2018-10-23 13:29:54,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-6FF,Data_KS-NPC-6FF_92.mat,1 3 5 8 11 13 15 17 21 22 23 32 36 37 54 57,177.0,177000,current_main current_sub cut_signal error_x er...,2.0,57,NaN
93,1540316136,2018-10-23 13:35:36,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-6FF,Data_KS-NPC-6FF_93.mat,1 3 5 8 11 13 15 17 21 22 23 32 36 37 54 57,177.0,177000,current_main current_sub cut_signal error_x er...,2.0,57,NaN
260,1542311497,2018-11-15 14:51:37,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-14N,NOV15_KS-NPC-14N_161.mat,0 1 2 3 6 8 11 13 17 21 22 23 32 36 37 54 57,122.0,122000,current_main current_sub cut_signal error_x er...,1.0,54,NaN
261,1542311621,2018-11-15 14:53:41,/home/tim/Documents/Checkfluid-Project/data/ra...,KS-NPC-14N,NOV15_KS-NPC-14N_162.mat,0 1 2 3 6 8 11 13 17 21 22 23 32 36 37 54 57,122.0,122000,current_main current_sub cut_signal error_x er...,1.0,54,NaN

In [53]:
# label the individual cuts in the low-level df as failed or not
df_low = check_date(df1, df2)

# save as a csv
df_low.to_csv(('low_level_labels_created_2020-01-30.csv'),index=False)
df_low.head()

,name_low,unix_date,date,tool,index,len_cut,min_current_main,max_current_main,min_current_sub,max_current_sub,...,svd_current_main_16,svd_current_main_17,svd_current_main_18,svd_current_main_19,svd_current_main_20,svd_current_main_21,svd_current_main_22,svd_current_main_23,svd_current_main_24,failed
0,1568205980_1_0,1568205980,2019-09-11 08:46:20,1,0,783,162.0,646.0,1.0,11.0,...,1030.509781275999,1018.3122903498411,1017.4801787675638,913.4002900572676,887.4320645321152,883.6265890132704,791.5133302591132,740.7618902793852,613.3657314263558,
1,1549666993_36_3,1549666993,2019-02-08 18:03:13,36,3,239,290.0,370.0,284.0,947.0,...,,,,,,,,,,1
2,1548693397_6_3,1548693397,2019-01-28 11:36:37,6,3,399,248.0,487.0,298.0,476.0,...,,,,,,,,,,1
3,1548891680_36_8,1548891680,2019-01-30 18:41:20,36,8,231,291.0,370.0,279.0,1008.0,...,,,,,,,,,,2
4,1549576106_8_1,1549576106,2019-02-07 16:48:26,8,1,575,991.0,1072.0,1012.0,1053.0,...,168.39646665392465,104.05742287156407,103.50352809194594,96.69590186757391,92.80240314934755,88.96831805520893,88.24723460432361,88.08565939853915,87.40803108729057,3